<h2 mat-dialog-title>Cambio Obligatorio de Contraseña</h2>
<mat-dialog-content>
  <p>
    Por razones de seguridad, es necesario que actualice su contraseña. Por
    favor, elija una nueva contraseña que cumpla con los siguientes requisitos
  </p>
  <ul>
    <li>Mínimo 8 caracteres.</li>
    <li>Al menos una letra mayúscula.</li>
    <li>Al menos una letra minúscula.</li>
    <li>Al menos un número.</li>
    <li>Al menos un carácter especial (como !, , #, etc.)."**</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
