<h2 mat-dialog-title>Remision tramite</h2>
<mat-dialog-content>
  <form [formGroup]="FormEnvio">
    <div class="row">
      <div class="col-sm-4">
        <simple-select-search
          placeholder="Buscar institucion"
          [data]="institutions()"
          (onSelect)="getDependencies($event)"
        />
      </div>
      <div class="col-sm-8">
        <simple-select-search
          placeholder="Buscar dependencia"
          [data]="dependencies()"
          (onSelect)="getAccounts($event)"
        />
      </div>
      <div class="col-12">
        <mat-form-field>
          <mat-label>Destinatarios</mat-label>
          <mat-chip-grid #chipGrid aria-label="User selection">
            @for (fruit of selectedReceivers(); track fruit.id_account) {
            <mat-chip-row (removed)="remove(fruit.id_account)">
              <img
                matChipAvatar
                src="../../../../../../assets/img/account.png"
                alt="Photo of officer"
              />
              {{ fruit.officer.fullname | titlecase }}

              <button
                matChipRemove
                [attr.aria-label]="'remove ' + fruit.id_account"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>
          <input
            placeholder="Nombre / Cargo"
            #receiverInput
            [formControl]="filterReceiverCtrl"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event.option.value)"
          >
            @for (user of filteredReceivers$ | async; track user.id_account) {
            <mat-option [value]="user">
              <img
                class="option-img"
                src="../../../../../../assets/img/account.png"
                height="25"
              />
              <span>{{ user.officer.fullname | titlecase }} </span>
              <small>({{ user.officer.jobtitle | uppercase }})</small>
              <span
                class="c-pill"
                [ngClass]="user.online ? 'c-pill--success' : 'c-pill--danger'"
                >{{ user.online ? "Conectado" : "Sin conexion" }}</span
              >
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <dl class="row">
      <dt class="col-sm-2">Tramite:</dt>
      <dd class="col-sm-10">{{ data.code }}</dd>
    </dl>
    <div class="row">
      <mat-form-field>
        <mat-label>Instruccion / Proveido</mat-label>
        <textarea formControlName="motivo" matInput required> </textarea>
        <mat-error *ngIf="FormEnvio.controls['motivo'].invalid">
          Ingrese el motivo
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <mat-label>Cantidad: hojas / anexos</mat-label>
          <input formControlName="cantidad" matInput required />
          <mat-error *ngIf="FormEnvio.controls['cantidad'].invalid">
            Ingrese la cantidad
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <mat-label>Numero de registro interno</mat-label>
          <input formControlName="numero_interno" matInput />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!isValidForm"
    (click)="showConfirmSend()"
  >
    Remitir
  </button>
</mat-dialog-actions>
