.mat-mdc-cell {
  font-size: 12px;
}

td.mat-column-options {
  width: 32px;
}

td.mat-column-reference {
  width: 500px;
}

@media screen and (max-width: 960px) {
  td.mat-column-reference {
    width: 100%;
  }
}