<mat-toolbar>
  <span>Archivos</span>
</mat-toolbar>
<div class="container-fluid">
  <search-input
    placeholder="Alterno / Referencia"
    [initialValue]="term"
    (onSearch)="applyFilter($event)"
  />

  <div class="example-container mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="datasource()">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Tramite</th>
          <td mat-cell *matCellDef="let element">
            <a
              class="underline text-blue-600"
              [routerLink]="[
                '/home/archives',
                element.procedure.group,
                element.procedure._id
              ]"
              [queryParams]="{limit, index}"
            >
              {{ element.procedure.code }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef>Referencia</th>
          <td mat-cell *matCellDef="let element">
            {{ element.procedure.reference }}
          </td>
        </ng-container>

        <ng-container matColumnDef="manager">
          <th mat-header-cell *matHeaderCellDef>Responsable</th>
          <td mat-cell *matCellDef="let element">
            <span class="d-block border-bottom">
              {{ element.eventLog.manager | titlecase }}
            </span>
            <span class="d-block fw-bold">
              {{ element.eventLog.description }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">
            {{ element.eventLog.date | date : "short" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <span
              class="badge"
              [ngClass]="element.procedure.state | stateLabel"
            >
              {{ element.procedure.state }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              (click)="unarchive(element)"
              matTooltip="Desarchivar tramite"
            >
              <mat-icon>drive_folder_upload</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-3" colspan="4">No se encontraron resultados</td>
        </tr>
      </table>
    </div>
    <paginator
      [pageSizeOptions]="[10, 20, 30, 50]"
      [limit]="limit"
      [index]="index"
      [length]="datasize()"
      (onPageChage)="changePage($event)"
    />
  </div>
</div>
