<h2 mat-dialog-title>Edicion Cuenta</h2>
<mat-dialog-content>
  @if (account().funcionario) {
  <div class="d-flex border rounded-2 p-2 mb-4">
    <div class="flex-shrink-0">
      <img src="../../../../../../assets/img/account.png" style="width: 40px" />
    </div>
    <div class="flex-grow-1 ms-3">
      <div class="d-flex flex-column">
        <span class="fw-bold">{{ account().funcionario?.fullname }}</span>
        <span>{{ account().funcionario?.jobtitle }}</span>
      </div>
    </div>
    <div class="ms-auto">
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Desvincular"
        (click)="unlink()"
      >
        <mat-icon>person_off</mat-icon>
      </button>
    </div>
  </div>
  } @else {
  <server-select-search
    placeholder="Buscar funcionario"
    (onSearch)="searchOfficer($event)"
    (onSelect)="selectOfficer($event)"
    [elements]="officers()"
  />
  }
  <div class="row m-0">
    <div class="col-md-5 border rounded-2 p-3">
      <p class="fw-bold">PROPIEDADES BANDEJA</p>
      <dl class="row">
        <dt class="col-6">RECIBIDOS:</dt>
        <dd class="col-6">5</dd>
        <dt class="col-6">SIN RECIBIR:</dt>
        <dd class="col-6">10</dd>
        <dt class="col-6">TOTAL:</dt>
        <dd class="col-6">10</dd>
      </dl>
    </div>
    <div class="col-md-7">
      <form [formGroup]="FormAccount">
        <div class="row">
          <div class="col-12 py-3">
            <mat-checkbox
              (change)="togglePassword($event.checked)"
              [checked]="updatePassword"
            >
              Actualizar contraseña
            </mat-checkbox>
          </div>

          <div class="col-12">
            <mat-form-field>
              <mat-label>Permisos</mat-label>
              <mat-select formControlName="rol">
                <mat-option *ngFor="let rol of roles()" [value]="rol._id">
                  {{ rol.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field>
              <mat-label>Login</mat-label>
              <input formControlName="login" matInput />
            </mat-form-field>
          </div>

          @if(FormAccount.get('password')){
          <div class="col-12">
            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                [autocomplete]="false"
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
              >
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          }
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="FormAccount.invalid"
    (click)="save()"
  >
    Guardar
  </button>
</mat-dialog-actions>
