<mat-card>
  <div class="d-md-flex">
    <div class="me-auto">
      <mat-card-header>
        <img mat-card-avatar src="../../../../../assets/img/account.png" />
        <mat-card-title>
          {{ detail.emitter.fullname | titlecase }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ detail.emitter.jobtitle | uppercase }}
        </mat-card-subtitle>
      </mat-card-header>
    </div>
    <div class="p-3">
      <span>{{ detail.outboundDate | date : "medium" }} </span>
    </div>
  </div>
  <mat-card-content>
    <dl class="row">
      <dt class="col-md-2">Instruccion / Proveido:</dt>
      <dd class="col-md-10">{{ detail.reference }}</dd>
      <dt class="col-md-2">Cantidad:</dt>
      <dd class="col-md-10">{{ detail.attachmentQuantity }}</dd>
      <!-- <dt class="col-md-2">Situacion:</dt>
      <dd class="col-md-10">
        @switch (detail.status) { @case ('received') {
        <span class="text-success">RECIBIDO</span>
        } @case ('pending') {
        <span class="text-danger">SIN RECIBIR</span>
        } @default {
        <span>DESCONOCIDO</span>
        } }
      </dd> -->
    </dl>
    <p>Adjunto:</p>
    <!-- <div class="attachment-list">
      <div class="attachment">
        <img src="../../../../../../assets/svg/pdf.svg" />
        <a (click)="generateRouteMap()" class="file-name">Hoja de ruta.pdf</a>
      </div>
    </div> -->
  </mat-card-content>
  <mat-card-actions class="action-row-buttons" align="end">
    @if(detail.status==='pending'){
    <button mat-button color="warn" (click)="reject()">Rechazar</button>
    <button mat-button color="primary" (click)="accept()">Aceptar</button>
    } @else {
    <button
      mat-icon-button
      matTooltip="Concluir"
      (click)="archive(StateProcedure.Concluido)"
    >
      <mat-icon>domain_verification</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Suspender"
      (click)="archive(StateProcedure.Suspendido)"
    >
      <mat-icon>pause_presentation</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Enviar" (click)="send()">
      <mat-icon>send</mat-icon>
    </button>
    }
  </mat-card-actions>
</mat-card>
