<p>
  <mat-toolbar color="primary">
    <sidenav-button />
    <span>Notas de la version</span>
  </mat-toolbar>
</p>

<div class="container animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-md-10">
      <ul class="cbp_tmtimeline">
        @for (item of logs; track $index) {
        <li>
          <div class="cbp_tmtime">
            <span>{{ item.date }}</span>
            <span>V. {{ item.version }}</span>
          </div>
          <mat-icon class="cbp_tmicon">build</mat-icon>
          <div class="cbp_tmlabel">
            <p class="text-primary fw-bold">{{ item.title }}</p>
            <p class="fw-bold">
              {{ item.description }}
            </p>
            <ul>
              @for (item of item.activities; track $index) {
              <li class="text-dark">{{ item }}</li>
              }
            </ul>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
