<mat-toolbar>
  <span>Cargos </span>
  <span class="toolbar-spacer"></span>
  <button (click)="add()" mat-icon-button matTooltip="Crear cuenta">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="container-fluid">
  <mat-form-field class="example-full-width">
    <mat-label>Buscar cargo</mat-label>
    <input
      matInput
      [(ngModel)]="text"
      (keydown.enter)="applyFilter()"
      placeholder="Nombre del cargo"
    />
    @if(text){
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="cancelFilter()"
    >
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource()">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button (click)="edit(element)" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-3" colspan="2">No se encontraron resultados</td>
        </tr>
      </table>
    </div>
    <paginator
      [limit]="limit()"
      [index]="index()"
      [length]="length()"
      [pageSizeOptions]="[10, 20, 30, 50]"
      (onPageChage)="onPageChage($event)"
    ></paginator>
  </div>
</div>
