<div class="container">
  <div class="col-12 text-center p-2">
    <mat-radio-group [(ngModel)]="filter" aria-label="Select an option">
      <mat-radio-button [value]="false">Todas</mat-radio-button>
      <mat-radio-button [value]="true">Mis observaciones</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-12">
    <mat-list>
      @for (obs of data| filterObservations : filter; track obs._id) {
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <p matListItemTitle>
          {{ obs.fullnameOfficer }} /
          <span
            class="badge rounded-pill ml-2"
            [ngClass]="obs.isSolved ? 'bg-success' : 'bg-danger'"
          >
            {{ obs.isSolved ? "RESUELTO" : "PENDIENTE" }}
          </span>
        </p>
        <div matListItemLine>{{ obs.description }}</div>
        <p matListItemLine>FECHA: {{ obs.date | date : "short" }}</p>
        @if(manager === obs.account && showOptions){
        <button
          matListItemMeta
          mat-icon-button
          color="primary"
          [disabled]="obs.isSolved"
          (click)="markAsSolved(obs)"
        >
          <mat-icon>build</mat-icon>
        </button>
        }
      </mat-list-item>
      } @empty {
      <mat-list-item>
        <div class="text-center" matListItemTitle>SIN OBSERVACACIONES</div>
      </mat-list-item>
      }
    </mat-list>
  </div>
</div>
