<!-- <mat-toolbar>
  <span>Configuraciones</span>
</mat-toolbar>
<div class="container-fluid">
  <mat-accordion>
    <ng-container>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> INFORMACION FUNCIONARIO </mat-panel-title>
          <mat-panel-description> Datos personales </mat-panel-description>
        </mat-expansion-panel-header>
        @if(account()){ @if(account()?.funcionario){
        <form class="row g-3">
          <div class="col-md-5">
            <label for="txtOfficer" class="form-label">Nombre completo</label>
            <input
              type="text"
              class="form-control"
              id="txtOfficer"
              [value]="account()?.fullnameManager()"
              readonly
            />
          </div>
          <div class="col-md-7">
            <label for="txtCargo" class="form-label">Cargo</label>
            <input
              type="text"
              class="form-control"
              id="txtCargo"
              [value]="account()!.funcionario?.cargo?.nombre ?? 'Sin cargo'"
              readonly
            />
          </div>
          <div class="col-md-2">
            <label for="txtDni" class="form-label">Dni</label>
            <input
              type="text"
              class="form-control"
              id="txtDni"
              [value]="account()!.funcionario?.dni"
              readonly
            />
          </div>
          <div class="col-md-2">
            <label for="txtTel" class="form-label">Telefono</label>
            <input
              type="text"
              class="form-control"
              id="txtTel"
              [value]="account()!.funcionario?.telefono"
              readonly
            />
          </div>
          <div class="col-md-8">
            <label for="txtInst" class="form-label">Dependencia</label>
            <input
              type="text"
              class="form-control"
              id="txtInst"
              [value]="account()!.dependencia.nombre"
              readonly
            />
          </div>
        </form>
        } @else {
        <div class="row">
          <div class="col-md-12 p-3">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">ADMINISTRADOR</h4>
              <p>Esta cuenta no pertenece a ningun funcionario</p>
              <hr />
              <p class="mb-0">
                Como administrador/a, usted posee privilegios y acceso especial
                a recursos críticos para el funcionamiento del sistema.
              </p>
            </div>
          </div>
        </div>
        } }
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> CONFIGURACION CUENTA </mat-panel-title>
          <mat-panel-description>
            Configuracion de inicio de sesion
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <form [formGroup]="form">
            <mat-form-field class="mb-3">
              <mat-label>Nombre de usuario</mat-label>
              <input matInput [value]="account()?.login" readonly />
              <mat-hint>Este campo no se puede editar</mat-hint>
            </mat-form-field>
            <mat-form-field class="mb-3">
              <mat-label>Nueva Contraseña</mat-label>
              <input
                matInput
                placeholder="Ingresa su nueva contraseña"
                formControlName="password"
                [type]="hide() ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon>{{
                  hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error>{{
                handleFormErrorMessages(form.get("password")!)
              }}</mat-error>
            </mat-form-field>
            <mat-form-field class="mb-3">
              <mat-label>Confirmar Contraseña</mat-label>
              <input
                matInput
                placeholder="Cofirme su contraseña"
                formControlName="confirmPassword"
                [type]="hide() ? 'password' : 'text'"
              />
              <mat-error>{{
                handleFormErrorMessages(form.get("confirmPassword")!)
              }}</mat-error>
            </mat-form-field>
          </form>
        </div>

        <mat-action-row>
          <button
            mat-button
            color="primary"
            (click)="updatePassword()"
            [disabled]="form.invalid"
          >
            Actualizar
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
    <mat-button-toggle-group
      aria-label="Theme color"
      [(ngModel)]="background"
      (valueChange)="changeTheme()"
    >
      <mat-button-toggle value="light">
        <mat-icon>light_mode</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="dark">
        <mat-icon>dark_mode</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select [(ngModel)]="color" (selectionChange)="changeTheme()" >
        @for (food of colors; track food) {
        <mat-option [value]="food">{{ food }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-accordion>
</div> -->
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Cuenta"></mat-tab>
  <mat-tab label="Personalizacion">
    <div class="sm:p-2 py-3">
      <theme-switcher />
    </div>
  </mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
