<div class="container-fluid">
  <div class="list-workflow">
    @for (stage of data; track $index) {
    <div class="row p-3 mb-2 align-items-center">
      <div class="col-sm-6 align-middle">
        <div class="card bg-transparent">
          <div class="card-body">
            <h3 class="card-title">
              {{ stage.emitter.fullname | titlecase }}
            </h3>
            <h4 class="card-subtitle mb-2 text-body-secondary">
              {{ stage.emitter.jobtitle | uppercase }}
            </h4>
            <hr />
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Duracion:
              <span class="badge text-bg-primary fs-6">
                {{ stage.duration }}</span
              >
            </li>
            <li class="list-group-item">
              Proveido: {{ stage.dispatches[0].reference }}
            </li>
            <li class="list-group-item">
              Fecha envio: {{ stage.date | date : "short" }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        @for (stage of stage.dispatches; track stage._id) {
        <div
          class="card mb-2 bg-transparent border border-3"
          [ngClass]="[
            stage.status === 'rejected' ? 'border-danger' : '',
            stage.status === 'pending' ? 'border-warning' : 'border-success'
          ]"
        >
          <div class="card-body">
            <h3 class="card-title">
              {{ stage.receiver.fullname | titlecase }}
            </h3>
            <h4 class="card-subtitle mb-2 text-body-secondary">
              {{ stage.receiver.jobtitle }}
            </h4>
          </div>
          <ul class="list-group list-group-flush">
            @switch (stage.status) { @case ('pending') {
            <li class="list-group-item list-group-item-warning">Sin aceptar</li>
            } @case ('rejected') {
            <li class="list-group-item list-group-item-danger">
              Fecha rechazdo: {{ stage.eventLog?.date | date : "short" }}
            </li>
            <li class="list-group-item list-group-item-danger">
              {{ stage.eventLog?.manager }}:
              {{ stage.eventLog?.description }}
            </li>
            <li class="list-group-item list-group-item-danger">
              Duracion:
              <span class="badge text-bg-danger fs-6">{{
                stage.duration
              }}</span>
            </li>
            } @default {
            <li class="list-group-item">
              Fecha recibido: {{ stage.date | date : "short" }}
            </li>
            <li class="list-group-item">
              Duracion:
              <span class="badge text-bg-primary fs-6">{{
                stage.duration
              }}</span>
            </li>
            } }
          </ul>
        </div>
        }
      </div>
      <div class="d-flex mt-3">
        <hr class="my-auto flex-grow-1" />
        <div class="px-4">ETAPA "{{ $index + 1 }}"</div>
        <hr class="my-auto flex-grow-1" />
      </div>
    </div>
    }
  </div>
</div>
