<h2 mat-dialog-title>Asignar Cuenta</h2>
<mat-dialog-content>
  <form [formGroup]="FormAccount">
    <simple-select-search
      placeholder="Seleccione la institucion"
      [elements]="institutions()"
      (onSelect)="onSelectInstitution($event)"
    />
    <simple-select-search
      placeholder="Buscar dependencia"
      [elements]="dependencies()"
      (onSelect)="FormAccount.get('dependency')?.setValue($event)"
    />
    <server-select-search
      placeholder="Buscar funcionario"
      [elements]="officers()"
      (onSearch)="searchOfficer($event)"
      (onSelect)="onSelectOfficer($event)"
    />
    <mat-form-field>
      <mat-label>Cargo</mat-label>
      <input
        formControlName="jobtitle"
        matInput
        placeholder="Ingrese el cargo"
      />
    </mat-form-field>

    <mat-form-field class="mb-2">
      <mat-label>Nombre de usuario</mat-label>
      <input
        formControlName="fullname"
        matInput
        placeholder="Ingrese un nombre de usuario"
      />
      <mat-hint>Nombre de conexion</mat-hint>
    </mat-form-field>

    <div class="flex gap-x-2">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input formControlName="login" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [autocomplete]="false"
          formControlName="password"
          [type]="hidePassword ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <simple-select-search
      placeholder="Seleccione un rol"
      [elements]="roles()"
      (onSelect)="FormAccount.get('role')?.setValue($event)"
    />
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancelar</button>
  <button
    mat-button
    color="primary"
    (click)="save()"
    [disabled]="FormAccount.invalid"
  >
    Guardar
  </button>
</mat-dialog-actions>
