<mat-form-field>
  <mat-select
    [formControl]="bankCtrl"
    [placeholder]="placeholder"
    (selectionChange)="selectOption($event.value)"
  >
    <mat-option>
      <ngx-mat-select-search
        placeholderLabel="Ingrese el termino a buscar"
        noEntriesFoundLabel="Sin resultados"
        [formControl]="bankFilterCtrl"
      ></ngx-mat-select-search>
    </mat-option>
    @if(bankCtrl.value && allowNullValues){
    <mat-option>Ninguno</mat-option>
    }
    <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank.value">
      {{ bank.text }}
    </mat-option>
  </mat-select>
</mat-form-field>
