<div class="animate__animated animate__fadeInLeft animate__faster">
  <mat-toolbar>
    <button (click)="backLocation()" mat-icon-button matTooltip="Regresar">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="ms-3">Detalle</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar>

  @if(properties()){ @switch (properties()?.group) { @case ('ExternalDetail') {
  <external-detail [id]="properties()!.id" [enableOptions]="false" />
  } @case ('InternalDetail') {
  <internal-detail [id]="properties()!.id" />
  } @default {
  <p>Type procedure is not defined</p>
  } } }
</div>
