<mat-toolbar>
  <span>Internos</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="container-fluid animate__animated animate__fadeIn animate__faster">
  <!-- <search-input
    placeholder="Alterno / Referencia"
    [initialValue]="term"
    (onSearch)="applyFilter($event)"
  /> -->
  <div class="example-container mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="datasource()">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Alterno</th>
          <td mat-cell *matCellDef="let element" [id]="element._id">
            <a
              class="underline text-blue-600"
              [routerLink]="['/home/internal', element.group, element._id]"
              [queryParams]="PageParam"
            >
              {{ element.code }}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef>Referencia</th>
          <td mat-cell *matCellDef="let element">
            {{ element.reference }}
          </td>
        </ng-container>
        <ng-container matColumnDef="applicant">
          <th mat-header-cell *matHeaderCellDef>Destinatario</th>
          <td mat-cell *matCellDef="let element">
            <!-- {{ element.details.destinatario.nombre | titlecase }} -->
          </td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <span class="badge" [ngClass]="element.state | stateLabel">
              {{ element.state | uppercase }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">
            {{ element.startDate | date : "short" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="send">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              [ngStyle]="element.isSend ? { color: 'green' } : { color: 'red' }"
              >{{
                element.isSend ? "mark_email_read" : "unsubscribe"
              }}</mat-icon
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                [disabled]="!row.isEditable"
                (click)="edit(row)"
              >
                <mat-icon>edit</mat-icon>
                <span>Editar tramite</span>
              </button>
              <button mat-menu-item [disabled]="row.isSend" (click)="send(row)">
                <mat-icon>send</mat-icon>
                <span>Remitir tramite</span>
              </button>
              <button mat-menu-item (click)="generateRouteMap(row)">
                <mat-icon>feed</mat-icon>
                <span>Hoja de ruta</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-3" colspan="4">No se encontraron resultados</td>
        </tr>
      </table>
    </div>

    <paginator
      [pageSizeOptions]="[10, 20, 30, 50]"
      [limit]="limit"
      [index]="index"
      [length]="datasize()"
      (onPageChage)="changePage($event)"
    />
  </div>
</div>
