<div class="flex flex-wrap items-center gap-x-2 px-4 mb-2">
  <div class="flex-1 text-xl">Tramites</div>
  <div class="order-last w-full sm:w-60 sm:order-none h-12">
    <search-input (onSearch)="search($event)" />
  </div>
  <div>
    <button mat-icon-button aria-label="Add user" (click)="create()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="animate-fadeIn">
  <div class="mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource()">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="segmento">
          <th mat-header-cell *matHeaderCellDef>Segmento</th>
          <td mat-cell *matCellDef="let element">{{ element.segmento }}</td>
        </ng-container>
        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef>Situacion</th>
          <td mat-cell *matCellDef="let element">
            <span
              [ngClass]="element.activo ? 'c-pill--success' : 'c-pill--danger'"
              class="c-pill"
              >{{ element.activo ? "HABILITADO" : "NO HABILITADO" }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="menu">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button (click)="edit(element)" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="toggleStatus(element)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-3" colspan="4">No se encontraron resultados</td>
        </tr>
      </table>
    </div>
    <paginator
      [index]="index()"
      [limit]="limit()"
      [length]="length()"
      [pageSizeOptions]="[10, 20, 30, 50]"
      (onPageChage)="onPageChage($event)"
    />
  </div>
</div>
