@if (procedure) {
<mat-toolbar color="primary">
  <span>{{ procedure.code }}</span>
  <button (click)="backLocation()" mat-icon-button matTooltip="Regresar">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button matTooltip="Generar ficha de tramite" mat-icon-button>
    <mat-icon>print</mat-icon>
  </button>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="First">
    @switch (procedure.group) { @case ('ExternalDetail') {
    <external-detail [data]="procedure" />
    } @default {
    <p>Type procedure is note defined</p>
    } }
  </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>

}
