<mat-toolbar>
  <button mat-icon-button (click)="backLocation()" matTooltip="Regresar">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="ms-3">Detalle</span>
</mat-toolbar>
<div class="animate__animated animate__fadeInLeft animate__faster">
  <div class="container-fluid">
    @if(mail()){
    <mat-card>
      <div class="d-sm-flex">
        <div class="me-auto">
          <mat-card-header>
            <div mat-card-avatar class="header-card-image"></div>
            <mat-card-title>
              {{ detail.emitter.fullname | titlecase }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ detail.emitter.jobtitle | uppercase }}
            </mat-card-subtitle>
          </mat-card-header>
        </div>
        <div class="p-3">
          <span>{{ detail.outboundDate | date : "medium" }} </span>
        </div>
      </div>
      <mat-card-content>
        <dl class="row">
          <dt class="col-sm-2">Instruccion / Proveido:</dt>
          <dd class="col-sm-10">{{ detail.reference }}</dd>
          <dt class="col-sm-2">Cantidad:</dt>
          <dd class="col-sm-10">{{ detail.attachmentQuantity }}</dd>
          <dt class="col-sm-2">Situacion:</dt>
          <dd class="col-sm-10">
            @switch (detail.status) { @case ('received') {
            <span class="text-success">RECIBIDO</span>
            } @case ('pending') {
            <span class="text-danger">SIN RECIBIR</span>
            } @default {
            <span>DESCONOCIDO</span>
            } }
          </dd>
        </dl>
        <p>Adjunto:</p>
        <div class="attachment-list">
          <div class="attachment">
            <img src="../../../../../../assets/svg/pdf.svg" />
            <a (click)="generateRouteMap()" class="file-name"
              >Hoja de ruta.pdf</a
            >
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="action-row-buttons" align="end">
        @if(detail.status==='pending'){
        <button mat-button color="warn" (click)="reject()">Rechazar</button>
        <button mat-button color="primary" (click)="accept()">Aceptar</button>
        } @else {
        <button
          mat-icon-button
          matTooltip="Concluir"
          (click)="archive(StateProcedure.Concluido)"
        >
          <mat-icon>domain_verification</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Suspender"
          (click)="archive(StateProcedure.Suspendido)"
        >
          <mat-icon>pause_presentation</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Enviar" (click)="send()">
          <mat-icon>send</mat-icon>
        </button>
        }
      </mat-card-actions>
    </mat-card>
    <div class="content">
      @switch (detail.procedure.group) { @case ('ExternalDetail') {
      <external-detail
        [id]="detail.procedure._id"
        [enableOptions]="true"
        (onStateChange)="handleStateChange($event)"
      />
      } @case ('InternalDetail') {
      <internal-detail [id]="detail.procedure._id" />
      } @default {
      <p>Type procedure is note defined</p>
      } }
    </div>
    } @else {
    <mat-card class="p-4">
      <div class="row placeholder-glow">
        <div class="col-1">
          <span
            style="height: 45px; width: 45px"
            class="placeholder mb-3 col-12 placeholder-lg rounded-circle"
          ></span>
        </div>
        <div class="col-11 mb-2">
          <span class="placeholder mb-3 col-7 placeholder-lg rounded"></span>
          <span class="placeholder mb-3 col-6 placeholder-lg rounded"></span>
        </div>
        <span class="placeholder col-11 placeholder-lg rounded mb-3"></span>
        <span class="placeholder col-6 placeholder-lg rounded mb-3"></span>
        <span class="placeholder col-7 placeholder-lg rounded mb-3"></span>
      </div>
    </mat-card>
    }
  </div>
</div>
