.header-card-image {
  background-image: url("../../../../../../assets/img/account.png");
  background-size: cover;
}
.action-row-buttons .mat-mdc-button-base {
  margin: 0 10px 0 0;
}

.attachment-list {
  list-style: none;
  padding-left: 0;
}

.attachment {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.attachment img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.file-name {
  font-size: 16px;
}
