<div class="animate__animated animate__fadeInLeft animate__faster">
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="backLocation()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{ code() }}</span>
      <span class="toolbar-spacer"></span>
      @if(mail()?.status==='received'){
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="send()" mat-menu-item>
          <mat-icon>send</mat-icon>
          <span>Remitir tramite</span>
        </button>
        <!-- <button mat-menu-item (click)="archive(row)">
            <mat-icon>domain_verification</mat-icon>
            Concluir tramite
          </button>
          <button mat-menu-item (click)="suspend(row)">
            <mat-icon>pause_presentation</mat-icon>
            Suspender tramite
          </button> -->
      </mat-menu>
      }
    </mat-toolbar>
  </p>

  <div class="container-fluid">
    @if(detail){
    <mat-card>
      <div class="d-sm-flex">
        <div class="me-auto">
          <mat-card-header>
            <div mat-card-avatar class="header-card-image"></div>
            <mat-card-title>
              {{ detail.emitter.fullname | titlecase }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ detail.emitter.jobtitle | uppercase }}
            </mat-card-subtitle>
          </mat-card-header>
        </div>
        <div class="p-3">
          <span>{{ detail.outboundDate | date : "medium" }} </span>
        </div>
      </div>
      <mat-card-content>
        <dl class="row">
          <dt class="col-sm-2">Instruccion / Proveido:</dt>
          <dd class="col-sm-10">{{ detail.reference }}</dd>
          <dt class="col-2">Cantidad:</dt>
          <dd class="col-10">
            {{ detail.attachmentQuantity }}
          </dd>
        </dl>
        <p>Adjunto:</p>
        <div class="attachment-list">
          <div class="attachment">
            <img src="../../../../../../assets/svg/pdf.svg" />
            <a (click)="generateRouteMap()" class="file-name"
              >Hoja de ruta.pdf</a
            >
          </div>
        </div>
      </mat-card-content>
      @if(mail()?.status==='pending'){
      <mat-card-actions class="action-row-buttons" align="end">
        <button mat-raised-button color="warn" (click)="reject()">
          Rechazar
        </button>
        <button mat-raised-button color="primary" (click)="accept()">
          Aceptar
        </button>
      </mat-card-actions>
      }
    </mat-card>
    } @else {
    <!-- <mat-card class="p-4">
      <div class="row placeholder-glow">
        <div class="col-1">
          <span
            style="height: 40px; width: 40px"
            class="placeholder col-12 placeholder-lg rounded-circle"
          ></span>
        </div>
        <div class="col-11 mb-2">
          <span class="placeholder col-10 placeholder-lg rounded"></span>
          <span class="placeholder col-4 placeholder-lg rounded"></span>
        </div>
        <span class="placeholder col-7 placeholder-lg rounded mb-2"></span>
        <span class="placeholder col-6 placeholder-lg rounded"></span>
      </div>
    </mat-card> -->
    }
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Tramite">
        @switch (mail()?.procedure?.group) { @case (groupProcedure.External) {
        <external-detail [(procedure)]="external" [location]="[]" />
        } @case (groupProcedure.Internal) {
        <internal-detail [procedure]="internal" [location]="[]" />
        } @default {
        <p>Type procedure is note defined</p>
        } }
      </mat-tab>
      <mat-tab label="Flujo de trabajo">
        <list-workflow [data]="workflow()" />
      </mat-tab>
      <mat-tab label="Flujo de trabajo grafico">
        <graph-workflow [workflow]="workflow()" />
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
