<h1 mat-dialog-title>Tipo de tramite</h1>
<mat-dialog-content>
  <form [formGroup]="FormTypeProcedure">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input formControlName="nombre" matInput />
        </mat-form-field>
      </div>
      @if(!typeProcedure){
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Segmento</mat-label>
          <input formControlName="segmento" matInput [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let segment of filteredSegments | async"
              [value]="segment"
            >
              {{ segment }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="fill">
          <mat-label>Grupo </mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="EXTERNO">EXTERNO</mat-option>
            <mat-option value="INTERNO">INTERNO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      }

      <div class="col-1">
        <button
          [disabled]="denieRequirements"
          matTooltip="Agregar"
          (click)="addRequirement()"
          mat-icon-button
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-1">
        <button
          matTooltip="Cargar"
          (click)="upload()"
          mat-icon-button
        >
          <mat-icon>upload</mat-icon>
        </button>
      </div>
    </div>

    <div formArrayName="requerimientos">
      <hr />
      @if( requeriments.controls.length>0){
      <div *ngFor="let control of requeriments.controls; let i = index">
        <div class="row" [formGroupName]="i">
          <div class="col-sm-9">
            <mat-form-field>
              <mat-label>Requerimiento {{ i + 1 }}</mat-label>
              <input
                matInput
                placeholder="Ingrese una descripcion"
                formControlName="nombre"
              />
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-checkbox formControlName="activo">Habilitado</mat-checkbox>
          </div>
          <div class="col-sm-1">
            <button mat-icon-button (click)="removeRequirement(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      }@else {
      <p class="fw-bold p-2">SIN REQUERIMIENTOS</p>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close color="warn">Cancelar</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="FormTypeProcedure.invalid"
    (click)="save()"
  >
    Guardar
  </button>
</mat-dialog-actions>
