<p>
  <mat-toolbar color="primary">
    <sidenav-button/>
    <span>Recursos</span>
  </mat-toolbar>
</p>

<div class="container animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card-box bg-transparent">
        <div class="row">
          <div class="col-lg-6 col-xl-6">
            <h4 class="header-title m-b-30">Archivos</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-xl-2">
            <div class="file-man-box">
              <a href="" class="file-close"
                ><i class="fa fa-times-circle"></i
              ></a>
              <div class="file-img-box">
                <img src="../../../../../assets/svg/pdf.svg" alt="icon" />
              </div>
              <a href="#" class="file-download"
                ><i class="fa fa-download"></i
              ></a>
              <div class="file-man-title">
                <h5 class="mb-0">Formulario baja de usuario</h5>
                <a class="mb-0" 
                  ><small>Generar</small></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="file-man-box">
              <a href="" class="file-close"
                ><i class="fa fa-times-circle"></i
              ></a>
              <div class="file-img-box">
                <img src="../../../../../assets/svg/pdf.svg" alt="icon" />
              </div>
              <a href="#" class="file-download"
                ><i class="fa fa-download"></i
              ></a>
              <div class="file-man-title">
                <h5 class="mb-0">Plantilla hoja de ruta</h5>
                <a
                  class="mb-0"
                  href="../../../assets/files/HOJA DE RUTA OFICIAL 2023.pdf"
                  ><small>Descargar</small></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="file-man-box">
              <a href="" class="file-close"
                ><i class="fa fa-times-circle"></i
              ></a>
              <div class="file-img-box">
                <img src="../../../../../assets/svg/xls.svg" alt="icon" />
              </div>
              <a href="#" class="file-download"
                ><i class="fa fa-download"></i
              ></a>
              <div class="file-man-title">
                <h5 class="mb-0">Formulario inventario digital</h5>
                <a
                  class="mb-0"
                  href="../../../assets/files/FORMULARIO DE INVENTARIO DIGITAL.xlsx"
                  ><small>Descargar</small></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="file-man-box">
              <a href="" class="file-close"
                ><i class="fa fa-times-circle"></i
              ></a>
              <div class="file-img-box">
                <img src="../../../assets/svg/xls.svg" alt="icon" />
              </div>
              <a href="#" class="file-download"
                ><i class="fa fa-download"></i
              ></a>
              <div class="file-man-title">
                <h5 class="mb-0">Formulario inventario fisico</h5>
                <a
                  class="mb-0"
                  href="../../../assets/files/INVENTARIO FISICO DE DOCUMENTACION.xlsx"
                  ><small>Descargar</small></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
