@if(data().length>0){
<mat-list>
  @for (location of data(); track location) {
  <mat-list-item>
    <mat-icon matListItemIcon>location_on</mat-icon>
    <span matListItemTitle>{{ location.dependencia.nombre | uppercase }}</span>
    <span matListItemLine
      >{{ location.funcionario.nombre }} {{ location.funcionario.paterno }}
      {{ location.funcionario.materno }}</span
    >
    <span class="fw-bold fs-6" matListItemMeta>
      @switch (location.status) { @case ('received') { En bandeja } @case
      ('pending') { Sin aceptar } @case ('archived') { Archivado } @default {
      Desconocido } }
    </span>
  </mat-list-item>
  } @empty {
  <mat-list-item>SIN INICIO</mat-list-item>
  }
</mat-list>
} @else {
<span>EL TRAMITE AUN NO HA SIDO REMITIDO</span>
}
