<h2 mat-dialog-title>Registro Cuenta</h2>
<mat-dialog-content>
  <ng-container>
    <mat-stepper
      headerPosition="bottom"
      (selectionChange)="generateCrendentials()"
      [linear]="false"
    >
      <mat-step [stepControl]="FormOfficer">
        <form [formGroup]="FormOfficer">
          <ng-template matStepLabel>Datos funcionario</ng-template>
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input class="uppercase" formControlName="nombre" matInput />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Apellido paterno</mat-label>
                <input class="uppercase" formControlName="paterno" matInput />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Apellido materno</mat-label>
                <input class="uppercase" formControlName="materno" matInput />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Dni</mat-label>
                <input formControlName="dni" matInput />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Telefono</mat-label>
                <input formControlName="telefono" matInput />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <server-select-search
                placeholder="Buscar cargo"
                [isRequired]="false"
                [elements]="jobs()"
                (onSearch)="searchJob($event)"
                (onSelect)="selectJob($event)"
              ></server-select-search>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="FormAccount">
        <form [formGroup]="FormAccount">
          <ng-template matStepLabel>Datos cuenta</ng-template>
          <div class="row">
            <div class="col-12">
              <simple-select-search
                placeholder="Buscar institucion"
                [elements]="institutions()"
                (onSelect)="selectInstitution($event)"
              ></simple-select-search>
            </div>
            <div class="col-12">
              <simple-select-search
                placeholder="Buscar dependencia"
                [elements]="dependencies()"
                (onSelect)="selectDependency($event)"
              ></simple-select-search>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <mat-label>Login</mat-label>
                <input formControlName="login" matInput />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  [autocomplete]="false"
                  formControlName="password"
                  [type]="hidePassword ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword"
                >
                  <mat-icon>{{
                    hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <mat-label>Seleccione el rol</mat-label>
                <mat-select formControlName="rol">
                  <mat-option *ngFor="let rol of roles()" [value]="rol._id">
                    {{ rol.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    [disabled]="!validForms"
  >
    Guardar
  </button>
</mat-dialog-actions>
