<h1 mat-dialog-title>REGISTRO CUENTA</h1>
<mat-dialog-content>
  <ng-container>
    <mat-stepper
      headerPosition="bottom"
      (selectionChange)="generateCrendentials()"
      [linear]="false"
    >
      <mat-step [stepControl]="FormOfficer">
        <form [formGroup]="FormOfficer">
          <ng-template matStepLabel>Datos funcionario</ng-template>
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input class="uppercase" formControlName="nombre" matInput />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="fill">
                <mat-label>Apellido paterno</mat-label>
                <input class="uppercase" formControlName="paterno" matInput />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="fill">
                <mat-label>Apellido materno</mat-label>
                <input class="uppercase" formControlName="materno" matInput />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="fill">
                <mat-label>Dni</mat-label>
                <input formControlName="dni" matInput />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="fill">
                <mat-label>Telefono</mat-label>
                <input formControlName="telefono" matInput />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <select-search
                placeholder="Buscar cargo"
                [isServerFilter]="true"
                [data]="jobs()"
                (onSearch)="searchJob($event)"
              ></select-search>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="FormAccount">
        <form [formGroup]="FormAccount">
          <ng-template matStepLabel>Datos cuenta</ng-template>
          <div class="row">
            <div class="col-12">
              <!-- <select-search
                placeholder="Buscar institucion"
                [data]="institutions()"
                (onSearch)="searchInstitutions($event)"
                (onSelect)="getDependencies($event)"
              ></select-search> -->
            </div>
            <div class="col-12">
              <select-search
                placeholder="Buscar dependencia"
                [data]="dependencies()"
                (onSearch)="filterDependencies($event)"
                (onSelect)="setDependency($event)"
              ></select-search>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Login</mat-label>
                <input formControlName="login" matInput />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  [autocomplete]="false"
                  formControlName="password"
                  [type]="hidePassword ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword"
                >
                  <mat-icon>{{
                    hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Seleccione el rol</mat-label>
                <mat-select formControlName="rol">
                  <mat-option *ngFor="let rol of roles()" [value]="rol._id">
                    {{ rol.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-button mat-dialog-close>
    Cancelar
  </button>
  <button
    mat-raised-button
    color="primary"
    mat-button
    (click)="save()"
    [disabled]="!validForms"
  >
    Guardar
  </button>
</mat-dialog-actions>
