<p>
  <mat-toolbar color="primary">
    <sidenav-button />
    <span>Bandeja de salida</span>
  </mat-toolbar>
</p>

<div class="container-fluid">
  <search-input
    placeholder="Alterno / Referencia "
    (onSearch)="applyFilter($event)"
  />

  <div class="example-container mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="datasource()" multiTemplateDataRows>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Alterno</th>
          <td mat-cell *matCellDef="let row" [id]="row.procedure._id">
            <a
              [routerLink]="[
                '/home/outbox',
                row.procedure.group,
                row.procedure._id
              ]"
              [queryParams]="PageParams"
            >
              {{ row.procedure.code }}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef>Referencia</th>
          <td mat-cell *matCellDef="let row">
            {{ row.procedure.reference }}
          </td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let row">
            <span class="badge" [ngClass]="row.procedure.state | stateLabel">
              {{ row.procedure.state }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Fecha envio</th>
          <td mat-cell *matCellDef="let row">
            {{ row.date | date : "short" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="situacion">
          <th mat-header-cell *matHeaderCellDef>Envios</th>
          <td mat-cell *matCellDef="let row">
            {{ row.dispatches.length }}
          </td>
        </ng-container>
        <ng-container matColumnDef="menu-options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row; let i = index">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>print</mat-icon>
                <span>Hoja de ruta</span>
              </button>
              <button
                mat-menu-item
                (click)="cancelAll(row)"
                [disabled]="row.canBeManaged()"
              >
                <mat-icon>cancel_schedule_send</mat-icon>
                <span>Cancelar envios</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              (click)="
                expandedElement = expandedElement === element ? null : element;
                $event.stopPropagation()
              "
            >
              <mat-icon *ngIf="expandedElement !== element"
                >keyboard_arrow_down</mat-icon
              >
              <mat-icon *ngIf="expandedElement === element"
                >keyboard_arrow_up</mat-icon
              >
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="expanded-contend">
                <mat-selection-list #shoes>
                  <div mat-subheader>
                    <button
                      mat-stroked-button
                      (click)="cancelSelected(shoes._value, element)"
                    >
                      Cancelar {{ shoes.selectedOptions.selected.length }}
                    </button>
                  </div>
                  @for (send of element.dispatches; track $index) {
                  <mat-list-option
                    [value]="send._id"
                    [disabled]="send.status !== 'pending'"
                  >
                    <mat-icon matListItemIcon>account_circle</mat-icon>
                    <span matListItemTitle
                      >{{ send.receiver.fullname | titlecase }}
                      <span
                        class="status"
                        [style.background-color]="send.statusLabel().color"
                        >{{ send.statusLabel().label }}</span
                      >
                    </span>
                    <small matListItemLine>{{
                      send.receiver.jobtitle ?? "SIN CARGO"
                    }}</small>
                    @if(send.status === 'rejected'){
                    <span matListItemLine class="text-rejected">
                      ({{ send.eventLog.date | date : "short" }}) -
                      {{ send.eventLog.manager | titlecase }} :
                      {{ send.eventLog.description }}</span
                    >
                    }
                  </mat-list-option>
                  }
                </mat-selection-list>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === row"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="expanded-row"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-3" colspan="6">No se encontraron resultados</td>
        </tr>
      </table>
    </div>
    <paginator
      [pageSizeOptions]="[10, 20, 30, 50]"
      [limit]="limit"
      [index]="index"
      [length]="datasize()"
      (onPageChage)="changePage($event)"
    />
  </div>
</div>
