tr.expanded-row {
  height: 0;
}

.status {
  margin-left: 10px;
  padding: 2px 8px;
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
}

.text-rejected {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.mat-mdc-cell {
  font-size: 13px;
}


td.mat-column-expand {
  width: 32px;
}
td.mat-column-code {
  width: 200px;
}

td.mat-column-option {
  width: 32px;
}