<h1 mat-dialog-title>Tramite interno</h1>
<mat-dialog-content>
  <form [formGroup]="FormProcedure">
    @if(!procedure){
    <!-- <simple-select-search
      placeholder="Tipo de tramite"
      [initialValue]="currentOption()"
      [elements]="typesProcedures()"
      (onSelect)="setTypeProcedure($event!)"
    /> -->
    }
    <div class="grid grid-cols-2 gap-2">
      <div class="col-span-2">
        <mat-form-field>
          <mat-label>Referencia del tramite</mat-label>
          <textarea formControlName="reference" matInput></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Cite</mat-label>
          <input formControlName="cite" matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Cantidad: Hojas / Anexos</mat-label>
          <input formControlName="numberOfDocuments" matInput />
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <autocomplete
          title="Opcion"
          (onSearch)="test($event)"
          [options]="example()"
        />
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Cargo del remitente</mat-label>
          <input matInput type="text" formControlName="jobtitle_emitter" />
        </mat-form-field>
      </div>
      <!-- <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Nombre del destinatario</mat-label>
          <input
            class="uppercase"
            type="text"
            matInput
            formControlName="fullname_receiver"
            [matAutocomplete]="auto1"
          />
          <mat-autocomplete matau #auto1="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredReceiver | async"
              [value]="option.fullname"
              (onSelectionChange)="setJob(option.jobtitle, 'jobtitle_receiver')"
            >
              {{ option.fullname | titlecase }}
            </mat-option>
          </mat-autocomplete>
          @if(FormProcedure.controls['fullname_receiver'].invalid){
          <mat-error>
            {{ errorMessage(FormProcedure.controls["fullname_receiver"]) }}
          </mat-error>
          }
        </mat-form-field>
      </div> -->
      <!-- <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Cargo del destinatario</mat-label>
          <input
            class="uppercase"
            formControlName="jobtitle_receiver"
            matInput
          />
          @if(FormProcedure.controls['jobtitle_receiver'].invalid){
          <mat-error>
            {{ errorMessage(FormProcedure.controls["jobtitle_receiver"]) }}
          </mat-error>
          }
        </mat-form-field> -->
      <!-- </div> -->
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cancelar</button>
  <button
    mat-button
    color="primary"
    [disabled]="FormProcedure.invalid"
    (click)="save()"
  >
    Guardar
  </button>
</mat-dialog-actions>
