<mat-nav-list class="menu">
  @for (item of menu; track item.resource) { @if(item.children){
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>{{ item.icon }}</mat-icon>
        <div class="ss">{{ item.text }}</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      @for (subitem of item.children; track $index) {
      <a
        mat-list-item
        [routerLink]="subitem.routerLink"
        routerLinkActive="tonal"
        class="sidebar-link"
      >
        <mat-icon class="icon" matListItemIcon>{{ subitem.icon }}</mat-icon>
        <div class="text" matListItemTitle>{{ subitem.text }}</div>
      </a>
      }
    </mat-nav-list>
  </mat-expansion-panel>
  } @else {
  <a
    mat-list-item
    [routerLink]="item.routerLink"
    routerLinkActive="tonal"
    class="sidebar-link"
  >
    <mat-icon class="icon" matListItemIcon>{{ item.icon }}</mat-icon>
    <div class="text" matListItemTitle>{{ item.text }}</div>
  </a>
  } }
</mat-nav-list>
