<mat-nav-list class="px-3">
  @for (item of menu; track item.resource) { @if(item.children){
  <mat-divider></mat-divider>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header class="px-2">
      <mat-panel-description>
        {{ item.text }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-nav-list>
      @for (subitem of item.children; track $index) {
      <a
        mat-list-item
        [routerLink]="subitem.routerLink"
        routerLinkActive="tonal"
        class="sidebar-link"
      >
        <mat-icon matListItemIcon>{{ subitem.icon }}</mat-icon>
        <div class="text" matListItemTitle>{{ subitem.text }}</div>
      </a>
      }
    </mat-nav-list>
  </mat-expansion-panel>
  } @else {
  <a
    mat-list-item
    [routerLink]="item.routerLink"
    #link="routerLinkActive"
    routerLinkActive
    [activated]="link.isActive"
    class="my-2"
  >
    <mat-icon class="icon" matListItemIcon>{{ item.icon }}</mat-icon>
    <div class="text" matListItemTitle>{{ item.text }}</div>
  </a>
  } }
</mat-nav-list>
