<mat-form-field>
  <mat-label>Buscar tramite</mat-label>
  <button mat-icon-button matPrefix (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
  <input
    matInput
    [placeholder]="placeholder"
    [formControl]="FormSearch"
    (keydown.enter)="search()"
  />
  @if(FormSearch.value !== ''){
  <button
    matSuffix
    mat-icon-button
    (click)="cancel()"
    aria-label="close button"
  >
    <mat-icon>close</mat-icon>
  </button>
  } @if(FormSearch.invalid){
  <mat-error>{{ errorMessage }}</mat-error>
  }
</mat-form-field>
