.mat-mdc-cell {
  font-size: 11px;
}

.mail-pending {
  background-color: #fe5f55;
}

.mail-pending .link {
  color: white;
}

.mail-pending .mat-mdc-cell {
  color: white;
}

.mail-pending a {
  color: white;
  font-weight: bold;
}

td.mat-column-options {
  width: 32px;
}

// td.mat-column-reference {
//   width: 35%;
// }