// .example-card {
//   max-width: 400px;
// }

.example-header-image {
  background-image: url("../../../../../assets/img/account.png");
  background-size: cover;
}

.content {
  padding: 10px;
  height: calc(100vh - 64px);
  overflow-y: auto
}
