<!-- <mat-toolbar>
  <span>Cuentas</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="add()">
      <mat-icon>account_circle</mat-icon>
      <span>Crear Cuenta</span>
    </button>
    <button mat-menu-item (click)="assign()">
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Asignar Cuenta</span>
    </button>
  </mat-menu>
</mat-toolbar> -->

<div class="flex flex-wrap items-center gap-x-2 px-4 mb-2">
  <div class="flex-1 text-xl">Dependencias</div>
  <div class="order-last w-full sm:w-60 sm:order-none h-12">
    <search-input (onSearch)="search($event)" />
  </div>
  <div>
    <button
      mat-icon-button
      aria-label="Filter user"
      cdkOverlayOrigin
      (click)="isOpen = !isOpen"
      #menuOverlay="cdkOverlayOrigin"
    >
      <mat-icon>tune</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button aria-label="Add user">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverlay"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <div class="overlay-menu w-auto sm:w-[400px] px-3 py-2 mat-elevation-z8">
    <simple-select-search
      placeholder="Institucion"
      [elements]="institutions()"
      (onSelect)="selectInstitution($event!)"
      [value]="institution()"
    />
    <!-- <simple-select-search
      placeholder="Dependencia"
      [elements]="dependencies()"
      (onSelect)=se""
      [value]="dependency()"
    /> -->
    <div class="flex justify-end gap-x-2">
      <button mat-button>Restablecer</button>
      <button mat-flat-button (click)="filter()">Buscar</button>
    </div>
  </div>
</ng-template>

<div class="p-2">
  <!-- <div class="row">
    <div class="col-sm-3">
      <simple-select-search
        placeholder="Seleccione una institucion"
        [isRequired]="false"
        [elements]="institutions()"
        (onSelect)="selectInstitution($event)"
      />
    </div>
    <div class="col-sm-5">
      <simple-select-search
        [placeholder]="'Seleccione una dependencia'"
        [isRequired]="false"
        [elements]="dependencies()"
        (onSelect)="applyFilterByDependency($event)"
      />
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <mat-label>Buscar funcionario</mat-label>
        <input
          matInput
          [(ngModel)]="text"
          (keydown.enter)="appliFilterByText()"
          placeholder="Nombre / CI / Cargo"
        />
        <button
          *ngIf="text"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="cancelSearch()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div> -->
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="datasource()">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Funcionario</th>
          <td mat-cell *matCellDef="let element">
            @if(element.funcionario){
            <div class="d-flex flex-column">
              <span class="fw-bold">{{
                element.funcionario.fullname | titlecase
              }}</span>
              <small>{{ element.funcionario.jobtitle }}</small>
            </div>
            } @else {
            <span class="fw-bold" style="color: red">SIN ASIGNAR</span>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="visibility">
          <th mat-header-cell *matHeaderCellDef>Visibilidad</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle
              (toggleChange)="toggleVisibility(element)"
              [checked]="element.isVisible"
            >
            </mat-slide-toggle>
          </td>
        </ng-container>

        <ng-container matColumnDef="dependency">
          <th mat-header-cell *matHeaderCellDef>Dependencia</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dependencia.nombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="w-8">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="edit(element)" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button (click)="disable(element)" mat-menu-item>
                <mat-icon>lock</mat-icon>
                {{ element.activo ? "Deshabilitar" : "Habilitar" }}
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          [ngClass]="{ 'is-disabled': row.activo === false }"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-3" colspan="5">No se encontraron resultados</td>
        </tr>
      </table>
    </div>
    <mat-paginator
      aria-label="Select page of users search results"
      showFirstLastButtons
      [length]="datasize()"
      [pageIndex]="index()"
      [pageSize]="10"
      (page)="onPageChange($event)"
    />
  </div>
</div>
