/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
@import "./assets/scss/status-badge.scss";
@import "./assets/scss/theme.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background-color: silver;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}