<div class="container">
  <mat-list id="test">
    <div mat-subheader>Dependientes</div>
    @for (dependent of dependents(); track dependent.id) {
    @if(dependent.officer){
    <mat-list-item>
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <div matListItemTitle>{{ dependent.officer.fullname | titlecase }}</div>
      <div matListItemLine>{{ dependent.officer.jobtitle }}</div>
      <div matListItemLine>Pendientes: {{ dependent.pendings }}</div>
      <button matListItemMeta mat-icon-button (click)="getInbox(dependent.id)">
        <mat-icon>print</mat-icon>
      </button>
    </mat-list-item>
    } @else {
    <mat-list-item style="background-color: #f5cac3">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <div matListItemTitle>DESVINCULADO</div>
      <div matListItemLine>----</div>
    </mat-list-item>
    } }
  </mat-list>
</div>
