<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      [opened]="isToggle"
      fixedTopGap="56"
    >
      <navigation-list [menu]="menu" />
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!-- <div class="row">
        <div class="col-12">
        
        </div>
        <div class="col-4 h-20">
          <pre>Index {{ cacheService.pageIndex() }}</pre>
          <pre>Limit {{ cacheService.pageSize() }}</pre>
          <pre>
Cache acces:{{ cacheService.keepAliveData() }} {{
              cacheService.storage | json
            }}</pre
          >
        </div>
      </div> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
