<h1 mat-dialog-title>Tramite interno</h1>
<mat-dialog-content>
  <form [formGroup]="FormProcedure">
    @if(!procedure){
    <simple-select-search
      placeholder="Tipo de tramite"
      [initialValue]="currentOption()"
      [elements]="typesProcedures()"
      (onSelect)="setTypeProcedure($event!)"
    />
    }
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Referencia del tramite</mat-label>
          <textarea formControlName="reference" matInput></textarea>
          @if(FormProcedure.controls['reference'].invalid){
          <mat-error>
            {{ errorMessage(FormProcedure.controls["reference"]) }}
          </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Nombre del remitente</mat-label>
          <input
            matInput
            type="text"
            formControlName="fullname_emitter"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredEmitter | async"
              [value]="option.fullname"
              (onSelectionChange)="setJob(option.jobtitle, 'jobtitle_emitter')"
            >
              {{ option.fullname | titlecase }}
            </mat-option>
          </mat-autocomplete>
          @if(FormProcedure.controls['fullname_emitter'].invalid){
          <mat-error>
            {{ errorMessage(FormProcedure.controls["fullname_emitter"]) }}
          </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Cargo del remitente</mat-label>
          <input matInput type="text" formControlName="jobtitle_emitter" />
          @if(FormProcedure.controls['jobtitle_emitter'].invalid){
          <mat-error>
            {{ errorMessage(FormProcedure.controls["jobtitle_emitter"]) }}
          </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Nombre del destinatario</mat-label>
          <input
            class="uppercase"
            type="text"
            matInput
            formControlName="fullname_receiver"
            [matAutocomplete]="auto1"
          />
          <mat-autocomplete matau #auto1="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredReceiver | async"
              [value]="option.fullname"
              (onSelectionChange)="setJob(option.jobtitle, 'jobtitle_receiver')"
            >
              {{ option.fullname | titlecase }}
            </mat-option>
          </mat-autocomplete>
          @if(FormProcedure.controls['fullname_receiver'].invalid){
          <mat-error>
            {{ errorMessage(FormProcedure.controls["fullname_receiver"]) }}
          </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Cargo del destinatario</mat-label>
          <input
            class="uppercase"
            formControlName="jobtitle_receiver"
            matInput
          />
          @if(FormProcedure.controls['jobtitle_receiver'].invalid){
          <mat-error>
            {{ errorMessage(FormProcedure.controls["jobtitle_receiver"]) }}
          </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>CITE</mat-label>
          <input formControlName="cite" matInput />
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Cantidad: Hojas / Anexos</mat-label>
          <input formControlName="amount" matInput />
          @if(FormProcedure.controls['amount'].invalid){
          <mat-error>
            {{ errorMessage(FormProcedure.controls["amount"]) }}
          </mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cancelar</button>
  <button
    mat-button
    color="primary"
    [disabled]="FormProcedure.invalid"
    (click)="save()"
  >
    Guardar
  </button>
</mat-dialog-actions>
